/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

html {
	width: 100vw;
	height: 100vh;
	font-size: 62.5%;
}

button {
	cursor: pointer;
}

body {
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}

h1 {
	font-size: 12rem;
	text-transform: capitalize;
	color: white;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	margin: 0px;
}
h2 {
	font-size: 10rem;
	text-transform: capitalize;
	color: white;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	margin: 0px;
}
h3 {
	font-size: 5rem;
	text-transform: capitalize;
	color: white;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	margin: 0px;
}
h4 {
	font-size: 6rem;
	text-transform: capitalize;
	color: white;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	margin: 0px;
}
h5 {
	font-size: 4rem;
	text-transform: capitalize;
	color: white;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	margin: 0px;
}
h6 {
	font-size: 1.5rem;
	text-transform: capitalize;
	color: white;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	margin: 0px;
}

.top-header {
	width: 100vw;
	height: 40px;
	background-color: black;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.top-header-left {
	width: 50%;
}

.top-header-left ul {
	display: flex;
	align-items: center;
}

.top-header-left ul li {
	list-style: none;
}

.top-header-left ul li a {
	color: rgb(206, 199, 199);
	text-decoration: none;
	margin-left: 30px;
	font-size: 1.5rem;
	font-family: "Roboto Mono", monospace;
}

.top-header-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 50%;
}

.top-header-right p {
	color: white;
	display: inline-block;
	font-size: 1.5rem;
	font-family: "Roboto Mono", monospace;
}

.top-header-right ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-right: 40px;
}

.top-header-right ul li {
	list-style: none;
}

.top-header-right ul li a {
	color: rgb(206, 199, 199);
	font-size: 1.8rem;
	margin: 0px 20px;
}

header {
	width: 100vw;
	height: 180px;
	background-color: #272727;

	display: flex;
	align-items: center;
}

.nav-left-links {
	width: 40%;
}

.nav-left-links ul {
	display: flex;
	align-items: center;
}

.nav-left-links ul li {
	list-style: none;
}

.nav-left-links ul li a {
	color: white;
	font-family: "Roboto Mono", monospace;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0px 30px;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
}

.logo a {
	color: white;
	text-decoration: none;
	font-size: 8rem;
	font-family: "Satisfy", cursive;
}

.nav-right-links {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: end;
}

.logo a > span {
	color: orange;
}

.logo a {
	transition: font-size 1s;
	transition-timing-function: ease-out;
}

.logo a:hover {
	font-size: 9rem;
}

.nav-right-links ul {
	display: flex;
	align-items: center;
	padding-right: 40px;
}

.nav-right-links ul li {
	list-style: none;
}

.nav-right-links ul li a {
	color: white;
	font-family: "Roboto Mono", monospace;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0px 30px;
}

.section {
	width: 100vw;
	height: 100vh;
}

.section-01 {
	display: flex;
	align-items: center;
}

.fundo {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
}

.section-01-left {
	width: 60%;
	height: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(19, 19, 19, 0.85));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section-01-left-top {
	width: 80%;
}

.section-01-left-mid {
	width: 80%;
	color: white;
	display: flex;
	align-items: center;
}

.section-01-left-mid del {
	font-size: 3rem;
	margin-right: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

.section-01-left-mid h5 {
	color: orangered;
}
.section-01-left-bottom {
	width: 80%;
	color: rgb(133, 133, 133);
	z-index: 2;
	margin-bottom: 30px;
}

.section-01-left-bottom p {
	font-size: 2rem;
	font-family: "Roboto", sans-serif;
}

.section-01-buttons {
	width: 80%;
}

.button-shop-now {
	width: 150px;
	height: 50px;

	border: none;
	outline: none;
	background-color: rgb(197, 131, 7);
	text-transform: uppercase;
	color: white;
	font-size: 1.5rem;
	font-family: "Roboto Mono", monospace;
	margin-right: 30px;
	font-weight: bold;
}

.button-explore {
	width: 250px;
	height: 50px;

	border: 5px solid white;
	outline: none;
	background: transparent;
	color: white;
	text-transform: uppercase;
	font-family: "Roboto Mono", monospace;
	font-size: 1.5rem;
	font-weight: bold;
	transition: ease-in-out;
	transition: background-color 0.5s;
	transition: color 0.5s;
}

.button-explore:hover {
	background-color: white;
	color: black;
}

.section-01-right {
	width: 40%;
	height: 100%;
	background: rgb(255, 212, 100);
	background: linear-gradient(198deg, rgba(255, 212, 100, 1) 0%, rgba(201, 102, 1, 1) 100%);
}

.section-01 img {
	background-color: transparent;
}

.section-01-right > img {
	max-height: 100%;
	transform: translate(-20%, -10%);
}

.section-02 {
	width: 100vw;
	height: 50vh;
	display: flex;
	align-items: center;
}

.section-02-box {
	width: 33.3%;
	height: 100%;

	display: flex;
	flex-direction: column;

	background-color: black;
}

.section-02-box-img {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.section-02-box-img > img {
	max-height: 100%;
	filter: contrast(110%) grayscale(1);
	opacity: 0.3;
	transition: ease-in-out 0.3s;
}

.section-02-box-img:hover img {
	opacity: 0.5;
}

.section-02-box-text {
	width: 100%;
	height: 100%;
	
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section-02-box-text-top{
	width: 100%;
	height: 50%;
	padding-left: 100px;
	padding-top: 50px;
}

.section-02-box-text-top h3 {
	margin: 0;
	width: 50%;
	
}
.section-02-box-text-top h6 {
	padding-top: 20px;
	text-transform: uppercase;
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
}

.section-02-box-text-top-text-orange{
	color: orangered;
}

.section-02-box-text-bottom{
	width: 100%;
	height: 50%;
	padding-left: 100px;
	display: flex;
	align-items: center;
}

.section-02-box-text-bottom button{
	width: 200px;
	height: 60px;
	background-color: orangered;
	outline: none;
	border: none;
	color: white;
	font-family: "Roboto Mono", monospace;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
}

.section-02-box-text-bottom-white button{
	background-color: white;
	color: black;
}

.section-03 {
	width: 100vw;
	height: 90vh;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section-03-top h6 {
	font-family: "Roboto Mono", monospace;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	color: orange;
	font-size: 1.7;
	font-weight: bold;
}

.section-03-top h2 {
	padding-top: 20px;
	color: black;
	font-size: 7rem;
	font-weight: bold;
}

.section-03-bottom {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 50px;
}

.section-03-bottom-box {
	width: 500px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section-03-bottom-box-line {
	border-right: 1px solid rgba(126, 118, 118, 0.5);
}

.section-03-bottom-box h5 {
	color: black;
	font-size: 3rem;
	font-weight: bold;
	margin-top: 40px;
}

.section-03-bottom-box p {
	font-size: 2rem;
	width: 80%;
	text-align: center;
}

.section-03-square {
	width: 100px;
	height: 100px;
	border: 0.8px solid rgb(126, 118, 118);
	display: flex;
	flex-direction: column;
}

.section-03-square-top {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-between;
}

.section-03-square-bottom {
	width: 100%;
	height: 50%;
	display: flex;
	align-items: end;
	justify-content: space-between;
}

.section-03-square-01 {
	width: 10px;
	height: 10px;
	border-top: 1px solid black;
	border-left: 1px solid black;
}

.section-03-square-02 {
	width: 10px;
	height: 10px;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

.section-03-square-03 {
	width: 10px;
	height: 10px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.section-03-square-04 {
	width: 10px;
	height: 10px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.section-03-square-img-01 {
	width: 100px;
	height: 100px;
	background-image: url(../img/correia.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.section-03-square-img-02 {
	width: 100px;
	height: 100px;
	background-image: url(../img/capa.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transform: scaleX(-1);
	background-size: cover;
}

.section-03-square-img-03 {
	width: 100px;
	height: 100px;
	background-image: url(../img/bike.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.section04 {
	width: 100vw;
	height: 80vh;
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-04-box {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.section-04-box > img{
	max-width: 100%;
	filter: grayscale(1);
}

.section-04-box-text{
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
}

.section-04-box-text h3 {
	width: 60%;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-weight: bold;
	margin-left: 80px;
	margin-top: 80px;

	text-shadow: 2px 2px 10px black;
}

.section-04-box-text p {
	width: 60%;
	color: rgb(179, 169, 169);
	font-weight: bold;
	font-size: 1.8rem;
	font-family: "Roboto", sans-serif;
	margin-left: 80px;
	margin-top: 20px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.section-04-box-text button {
	width: 180px;
	height: 60px;
	color: rgb(255, 255, 255);
	font-size: 2rem;
	font-family: "Roboto mono", monospace;
	font-weight: bold;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.3);
	border: none;
	outline: none;
	border: 5px solid orange;
	margin-left: 80px;
	margin-top: 20px;
	transition: ease-in-out 0.5s;
}

.section-04-box-text button:hover{
	background: rgba(0, 0, 0, 0.7);
}

.section-04-box-space {
	height: 50%;
	width: 100%;
}


.section-05 {
	width: 100vw;
	height: 100vh;
	background-color: rgb(27, 26, 26);
}

.section-05 img {
	position: absolute;
	transform: translateX(55%);
	max-height: 100%;
	filter: contrast(105%);
}

.section-05-left-box {
	width: 80%;
	height: 100%;
	padding-left: 100px;
	white-space: nowrap;
}

.section-05-left-box-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-05-left-box-container > h6 {
	font-family: "Roboto Mono", monospace;
	font-weight: bold;
	text-transform: uppercase;
	color: orange;
	margin: 20px 0px;
	letter-spacing: 3px;
}

.section-05-left-box-container > h4 {
	margin: 20px 0px;
	width: 90%;
	font-size: 8rem;
	white-space: normal;
}

.section-05-left-box-container button {
	width: 250px;
	height: 60px;
	outline: none;
	border: none;
	background-color: orangered;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}

.section-05-left-box-grid {
	display: grid;
	grid-template-columns: 300px 300px;
	grid-template-rows: 180px 180px;
	column-gap: 40px;
}

.section-05-left-box-grid-item {
	white-space: normal;
}

.section-05-left-box-grid-item > h6 {
	font-size: 2.5rem;
}

.section-05-left-box-grid-item > p {
	font-size: 2rem;
	margin: 10px 0px;
	color: #837d7d;
}

.section-06 {
	width: 100vw;
	height: 100vh;
	background-color: #ffffff;
}

.section-06-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-06-top-box {
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section-06-top-box > h5 {
	font-family: "Roboto Mono", monospace;
	color: orangered;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 3px;
}

.section-06-top-box > h4 {
	color: black;
	font-weight: bold;
	margin-top: 10px;
}

.section-06-mid-box {
	width: 100%;
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.section-06-bottom-box {
	width: 100%;
	height: 10%;
}

.section-06-bottom-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-06-bottom-box ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-06-bottom-box ul > li {
	list-style: none;
}

.section-06-bottom-box-slider {
	width: 200px;
	height: 2px;
	background-color: rgb(202, 202, 202);
}

.section-06-bottom-box-slider-selected {
	background-color: orangered;
}

.section-06-card {
	width: 500px;
	height: 80%;
	display: flex;
	flex-direction: column;
}

.section-06-card h6 {
	font-family: "Roboto Mono", monospace;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2rem;
	text-align: center;
	margin: 5px;
}

.section-06-card h6 > span {
	color: orangered;
}

.section-06-card-img {
	width: 500px;
	height: 60%;
	background-color: #c8c9c3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-06-card-img > img {
	max-height: 90%;
}

.section-06-card-colors {
	width: 100%;
}

.section-06-card-colors ul {
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	padding: 0px;
}

.section-06-card-colors ul li {
	list-style: none;
	margin: 10px;
}

.section-06-card-colors ul li:hover {
	transform: scale(1.3);
}

.section-06-card-colors-circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.circle-red {
	background-color: red;
}
.circle-blue {
	background-color: blue;
}
.circle-black {
	background-color: black;
}
.circle-gray {
	background-color: gray;
}
.circle-purple {
	background-color: purple;
}
.circle-green {
	background-color: green;
}

.section-07 {
	width: 100vw;
	height: 170vh;
}

.section-07-container{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section-07-container > img{
	max-height: 100%;
	transform: translate(-95%, 2%);
	filter: grayscale(1);
}

.section-07-container-top {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 40%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section-07-container h1{
	position: absolute;
	top: 0	;
	width: 80%;
	max-lines: 2;
	font-family: 'Roboto Mono', monospace;
	text-transform: uppercase;
	font-size: 25rem;

	overflow-wrap: break-word;
	white-space: normal;
	color: #ffffff;
	z-index: -1;

	-webkit-text-stroke: 2px rgba(206, 206, 206, 0.25);
}

.section-07-container-top h6{
	color: orange;
	font-size: 2rem;
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.section-07-container-top h3{
	color: black;
	width: 50%;
	font-size: 6rem;
	text-align: center;
	font-family: 'Roboto', monospace;
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 30px;
	margin-bottom: 50px;
}
.section-07-container-top-input{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.section-07-container-top-input input{
	width: 50%;
	height: 60px;
	border: none;
	outline: none;
	padding-left: 30px;
	font-size: 1.7rem;
	background-color: #ececec;
	font-family: 'Roboto Mono', monospace;
}

.section-07-container-top-input button{
	width: 10%;
	height: 62px;
	border: none;
	outline: none;
	font-family: 'Roboto Mono', monospace;
	background-color: orangered;
	color: white;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: bold;
}

.section-07-container-bottom {
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	height: 60%;
	background-color: rgb(88, 207, 41);
}

.section-08 {
	width: 100vw;
	height: 100vh;
	background-color: rgb(204, 43, 43);
}
